#high-score-list {
    float: left;
    padding: 10px;
    text-decoration: none;
    color: #bd60e7; 
    font-size: medium;
    font-weight: 400;
}

#highscore-b {
width: 400px;
}




#high-score-list:hover {
    color: #351c75;
}

#displayTimer {
    float: right; 
    text-decoration: none;
    color: black; 
    font-size: large;
    font-weight: 400;

}

#container{
    height: 400px;
    position: absolute;
    top: 30%;
    left: 30%;
    margin-right: 100px;
}
#quizDiv {
 margin: 20px;
}

h1 {
    text-align: center;
   
}

#runTimer {
    background-color: darkmagenta;
    color: white;
    font-size: medium;
    padding: 10px 10px;
    margin-left: 38%;
    border-radius: 20px;

}

#runTimer:hover {
    background-color: lightpink;
    color:white;
}

.question {
    text-align: left;
    font-weight: bold;
}

#answerSelect {
    list-style: none;
    text-align: left;
    padding-left: 0;
    margin: 20px;
}

li {
   margin-top: 10px;
}

li button {
    border-radius: 10px;
    background-color: darkmagenta;
    margin-top: 10px;
    padding: 5px 15px;
    width: 30%;
    font-size: 23px;
    color: white;
}

li button:hover {
    border-radius: 10px;
    background-color: lightpink;
    margin-top: 10px;
    padding: 5px 15px;
    width: 30%;
    font-size: 23px;
    color: white;
}

.answerCheck {
    border-top: 2px solid #afafaf;
    text-align: left;
    font-size: 2rem;
    font-style: italic;
    color: #afafaf;
    padding-top: 8px;
}

#finishDiv {
    text-align: left;
    margin: 0 auto;
}

#finalScore {
    margin: 5px 0 5px 0;
}

#initials {
    margin-left: 10px;
}
#Submit {
    border-radius: 10px;
    background-color: darkmagenta;
    margin-top: 10px;
    padding: 5px 15px;
    width: 30%;
    font-size: 20px;
    color: white;
}

#createLabel {
    font-size: 1.5rem;
    padding-top: 1px;
}

#goBack {
    background-color: darkmagenta;
    position: relative;
    padding: 5px 15px;
    font-size: 20px;
    color: white;
    width: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

#clear {
    background-color: darkmagenta;
    position: relative;
    padding: 5px 15px;
    font-size: 20px;
    color: white;
    width: auto;
    text-align: center;
    border-radius: 10px;
}

.highScore {
    list-style: none;
    text-align: center;
    
}

#createLi {
    background-color: #d6bdd6;
    list-style: lower-roman;
    padding: 10px;
    display: list-item;
    margin-right: 20px ;
}

