#high-score-list {
    float: left;
    padding: 10px;
}

#displayTimer {
    float: right; 
    padding: 10px;
}

#container{
    height: 400px;
    position: absolute;
    top: 30%;
    left: 30%;
    margin-right: 100px;
}
#quizDiv {
 margin: 20px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

#runTimer {
    background-color: darkmagenta;
    color: white;
    font-size: medium;
    padding: 10px 10px;
    margin-left: 38%;
    border-radius: 20px;

}

#runTimer:hover {
    background-color: lightpink;
    color:white;
}

.question {
    text-align: left;
    font-weight: bold;
}

#answerSelect {
    list-style: none;
    text-align: left;
    padding-left: 0;
    margin: 20px;
}

li {
   margin-top: 10px;
}

li button {
    border-radius: 10px;
    background-color: darkmagenta;
    margin-top: 10px;
    padding: 5px 15px;
    width: 30%;
    font-size: 23px;
    color: white;
}

