#high-score-list {
    float: left;
    padding: 10px;
}

#displayTimer {
    float: right; 
    padding: 10px;
}

#quizDiv {
    height: 400px;
    position: absolute;
    top: 30%;
    left: 30%;
    margin-right: 100px;
}

h1 {
    text-align: center;
}

#runTimer {
    background-color: darkmagenta;
    color: white;
    font-size: medium;
    padding: 10px 10px;
    margin-left: 38%;
    border-radius: 20px;

}
